html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: #F0F0F0;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  font-size: 12px;
  color: #303133;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000;
}

.section-subtitle {
  font-size: 16px;
  color: #303133;
}

.description {
  margin: 0;
  font-size: 13px;
  color: #303133;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.3s ease;
  width: fit-content;
}